@font-face {
	src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.woff") format("woff");
	font-family: "Montserrat";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Montserrat-SemiBold.woff") format("woff");
	font-family: "Montserrat";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold.woff") format("woff");
	font-family: "Montserrat";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-family: "Montserrat";
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Montserrat-Black.woff2") format("woff2"),
		url("../fonts/Montserrat-Black.woff") format("woff");
	font-family: "Montserrat";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/TTDrugs-Regular.woff2") format("woff2"),
		url("../fonts/TTDrugs-Regular.woff") format("woff");
	font-family: "TTDrugs";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
:root {
	--c-accent: #ffb75e;
	--c-text-regular: #0f0f0f;
	--c-text-second: #444;
	--fz-regular: 18px;
	--fz-title-section: 44px;
	--z-dropdown: 10;
	--z-tooltip: 20;
	--z-sticky-header: 90;
	--z-popup: 100;
	--z-burger-button: 50;
	--z-burger: 110;
}

$fz-p: var(--font-regular);
$fz-h2: var(--font-title-section);

@mixin transition-mix(
	$property: all,
	$duration: 0.2s,
	$timing: linear,
	$delay: 0s
) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing;
}

@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
	position: absolute;
	left: $left;
	right: $right;
	top: $top;
	bottom: $bottom;
}

@mixin buttonPrimary {
	border-radius: 48px;
	padding-top: 14px;
	padding-right: 40px;
	padding-bottom: 14px;
	padding-left: 40px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	background-image: var(--bg-button-primary);
	transition: all 0.2s;
	&:focus {
		box-shadow: none;
		background-image: var(--bg-button-primary--hover);
		transform: translateY(2px);
		transition: all 0.2s;
	}
	&:hover {
		box-shadow: none;
		background-image: var(--bg-button-primary--hover);
		transform: translateY(2px);
		transition: all 0.2s;
	}
}
* {
	outline: none;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
.hidden {
	visibility: hidden;
}
a,
button {
	cursor: pointer;
}
input,
button {
	display: inline-block;
	border: none;
	padding: 0;
	background: none;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
	margin: 0;
	padding: 0;
	font-weight: 500;
}
h2 {
	font-size: var(--fz-title-section);
}
ul,
ol {
	list-style: none;
}
body {
	font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
	font-size: var(--fz-base);
	color: var(--c-text-regular);
}
.fixed {
	position: fixed;
	left: 0;
	top: 0;
}

// __POPS
.popups {
	display: none;
}
.pop-thanks {
	border-radius: 12px;
	padding: 40px 20px;
	width: 300px;
	background-color: #fff;
}

// Burger
.burger {
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	width: 40px;
	height: 40px;
	cursor: pointer;

	&__line {
		transition: all 0.5s;
		display: block;
		position: relative;
		width: 100%;
		height: 4px;
		background-color: #333;
		border-radius: 4px;
	}

	&--active {
		.burger__line {
			transition: all 0.5s;

			&:first-child {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				display: none;
			}

			&:last-child {
				transform: rotate(-45deg);
				margin-top: -100%;
			}
		}
	}
}

.container {
	padding: 0 15px;
}

@media (min-width: 575.98px) {
	.container {
		max-width: 540px;
		margin: 0;
		padding: 0;
	}
}

@media (min-width: 767.98px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 991.98px) {
	.container {
		max-width: 960px;
		padding: 0 calc(100% - (50% + 590px));
	}
}

@media (min-width: 1199.98px) {
	.container {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}

// @common
img {
	max-width: 100%;
}
.text--bold {
	font-weight: 800;
}

.button__aligner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	font-family: "Montserrat";
	text-transform: uppercase;
	display: block;
}
.button--primary {
	max-width: 350px;
	width: 100%;
	padding-top: 29px;
	padding-bottom: 32px;
	padding-left: 15px;
	padding-right: 15px;
	background: linear-gradient(180deg, #248da0 0%, #157182 100%);
	box-shadow: inset 0px -4px 0px #0f6575;
	border-radius: 10px;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
}
.button--secondary {
	max-width: 200px;
	width: 100%;
	padding-top: 21px;
	padding-bottom: 21px;
	padding-left: 14px;
	padding-right: 14px;
	background-color: transparent;
	border: 1px solid rgba(50, 60, 75, 0.1);
	border-radius: 8px;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #323c4b;
	font-weight: 500;
}
.logo-img {
	width: 120px;
	object-fit: contain;
}
.section__title {
	font-family: "TTDrugs";
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #323c4b;
}

// @form
.form {
	padding-top: 43px;
	padding-bottom: 43px;
	padding-left: 5px;
	padding-right: 5px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.35) 0%,
		rgba(255, 255, 255, 0.45) 49.48%,
		rgba(255, 255, 255, 0.35) 100%,
		rgba(255, 255, 255, 0.45) 100%
	);
	backdrop-filter: blur(14px);
	border-radius: 10px;
}
.form__title {
	margin-bottom: 37px;
	font-family: "TTDrugs";
	font-size: 23px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #323c4b;
}
.form__inner {
	padding-left: 34px;
	padding-right: 34px;
}
.form-input {
	width: 100%;
	padding: 30px;
	margin-bottom: 20px;

	background: #ffffff;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: rgba(50, 60, 75, 0.9);
}
.form__button {
	max-width: 100%;
	margin-bottom: 18px;
}
.form__privacy {
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	color: #333333;
	max-width: 266px;
	margin-left: auto;
	margin-right: auto;
}
.form__privacy-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	text-decoration-line: underline;
	color: #248da0;
}

// @HEADER
.header__inner {
	width: 100%;
	background: #ffffff;
	border-radius: 0px 0px 30px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// @HERO
.hero {
	position: relative;
	padding-top: 200px;
	padding-bottom: 240px;
	background-image: url("../img/hero/hero-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f9f9f9;
}
.hero__container {
	position: relative;
}
.hero__offer {
	max-width: 664px;
	width: 100%;
	margin-bottom: 80px;
}
.hero__title {
	margin-bottom: 12px;
	font-size: 55px;
	line-height: 120%;
	font-family: "TTDrugs";
}
.hero__desc {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 140%;
	color: #323c4b;
}
.hero__img-pic {
	position: relative;
	z-index: 2;
}
.hero__img-wrap {
	position: absolute;
	right: -70px;
	bottom: -83px;
	max-width: 745px;
}
.hero__decor-left {
	position: absolute;
	left: 0;
	bottom: 163px;
	width: 265px;
	height: 193px;
	background-image: url("../img/hero/hero-decor.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero__decor-right {
	position: absolute;
	top: 130px;
	right: -80px;
	width: 875px;
	height: 489px;
	z-index: 1;

	background-image: url("../img/hero/hero-decor-right.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__bullets {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 2;
}
.hero-bullet {
	min-width: 270px;
	width: 24%;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 50px;
	margin-right: 30px;
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.6) 49.48%,
		rgba(255, 255, 255, 0.7) 100%
	);
	backdrop-filter: blur(14px);
	border-radius: 10px;
}
.hero-bullet--2 {
	padding-bottom: 70px;
}
.hero-bullet--2,
.hero-bullet--3 {
	margin-top: 30px;
}
.hero-bullet:last-child {
	margin-right: 0;
}
.hero-bullet__img {
	max-height: 200px;
	margin-top: -50px;
}
.hero-bullet--2 .hero-bullet__img {
	margin-top: -90px;
}
.hero-bullet--3 .hero-bullet__img {
	margin-top: -93px;
}
.hero-bullet--4 .hero-bullet__img {
	margin-top: -60px;
	margin-bottom: -20px;
	margin-bottom: -10px;
}
.hero-bullet__desc {
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #323c4b;
}

// @divorce
.divorce {
	position: relative;
	z-index: 2;
	margin-top: -163px;
	padding-top: 100px;
	padding-bottom: 100px;
	background: #ffffff;
	border-radius: 170px;
}
.divorce__title {
	font-size: 50px;
	line-height: 140%;
	text-align: center;
	margin-bottom: 80px;
}
.divorce__bullets {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.divorce-bullet {
	max-width: 308px;
	margin-right: 70px;
	margin-bottom: 70px;
	text-align: center;
}
.divorce-bullet:last-child {
	margin-right: 0;
}
.divorce-bullet--1 {
	margin-left: 200px;
}
.divorce-bullet--2 {
	margin-right: 200px;
}
.divorce-bullet__img {
	max-height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
.divorce-bullet__title {
	font-weight: 900;
	margin-bottom: 7px;
	text-align: inherit;
	font-size: 18px;
	line-height: 140%;
	color: #323c4b;
}
.divorce-bullet__desc {
	font-size: 16px;
	text-align: inherit;
	line-height: 140%;
	color: #323c4b;
}
.divorce__decor-left {
	position: absolute;
	left: 0;
	top: 0;
	background-image: url("../img/divorce/divorce-left.png");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	width: 600px;
	height: 500px;
}
.divorce__decor-right {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url("../img/divorce/divorce-right.png");
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	width: 600px;
	height: 500px;
}

// @help
.help {
	background-image: url("../img/help/help-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f3f6fb;
	margin-top: -170px;
	padding-top: 270px;
	padding-bottom: 420px;
}
.help__title {
	text-align: center;
	font-size: 50px;
	line-height: 140%;
	margin-bottom: 24px;
}

.help-dropdown {
	background-color: #fff;
	box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-bottom: 25px;
}
.help-dropdown__top {
	padding-right: 27px;
	padding-left: 27px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #efefef;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.help-dropdown__bottom {
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 22px;
	padding-bottom: 30px;

	display: none;
}

.help-dropdown__title {
	font-weight: 800;
	font-size: 16px;
	line-height: 130%;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	color: #323c4b;
	width: calc(100% - 72px);
}
.help-dropdown__toggler {
	background-image: url("../img/common/angle.svg");
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
}

.help-dropdown__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #323c4b;
}
.help-dropdown__bullets {
	padding-left: 24px;
	// counter-reset: help-bullets;
	list-style: decimal;
}
.help-dropdown__bullet {
}

.help-dropdown--opened {
	.help-dropdown__title {
		color: #248da0;
	}
	.help-dropdown__toggler {
		transform: rotate(180deg);
	}
	.help-dropdown__bottom {
		display: block;
	}
}

// @how

.how {
	position: relative;
	margin-top: -440px;
	padding-top: 350px;
	padding-bottom: 300px;
	background-image: url("../img/how/how-bg1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.how__title {
	max-width: 513px;
	font-family: "TTDrugs";
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 140%;
	color: #323c4b;
	margin-bottom: 32px;
}
.how__img {
	position: absolute;
	right: 0;
	bottom: 30px;
	display: block;
	max-width: 75%;
	pointer-events: none;
}
.how__decor-left {
	display: block;
	position: absolute;
	left: 0;
	bottom: 20px;
	background-image: url("../img/how/how-decor1.png");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	width: 60%;
	height: 316px;
	pointer-events: none;
}

// @why

.why {
	margin-top: -30px;
	background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #fafcff 100%);
	padding-top: 100px;
}
.why__title {
	text-align: center;
	font-size: 50px;
	line-height: 140%;
}
.why__subtitle {
	margin-bottom: 80px;
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
	text-align: center;
	color: #323c4b;
}
.why__bullets {
	display: grid;
	grid-template-areas:
		"profit experience support"
		"privacy experience payment";
	gap: 30px;
}
.why-bullet--profit {
	grid-area: profit;
}
.why-bullet--experience {
	grid-area: experience;
	align-self: start;
	margin-top: 30px;
}
.why-bullet--support {
	grid-area: support;
}
.why-bullet--privacy {
	grid-area: privacy;
}
.why-bullet--payment {
	grid-area: payment;
}
.why-bullet {
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.6) 49.48%,
		rgba(255, 255, 255, 0.7) 100%
	);
	box-shadow: 0px 14px 34px rgba(214, 214, 214, 0.25);
	backdrop-filter: blur(24px);
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 35px;
}

.why-bullet__img {
	margin-top: -65px;
	max-width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.why-bullet__desc {
	font-size: 16px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.05em;
	color: #323c4b;
}
.why__hero {
	width: 100%;
	height: 750px;
	margin-top: -300px;
	position: relative;
	background-image: url("../img/why/why-hero.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.why__boke {
	background-image: url("../img/why/why-boke.png");
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	mix-blend-mode: color-dodge;
	background-blend-mode: screen;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

// @psycho

.psycho {
	padding-top: 50px;
	padding-bottom: 240px;
	background-image: url("../img/psycho/psycho-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fafafb;
}
.psycho__container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.psycho__img {
	max-width: 546px;
	width: 100%;
	margin-right: 50px;
	margin-left: -50px;
}
.psycho__title {
	margin-bottom: 20px;
}

// @pros
.pros {
	position: relative;
	padding-top: 75px;
	margin-top: -260px;
	background-image: url("../img/pros/pros-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// background-color: #fafafb;
	border-radius: 170px;
}
.pros__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.pros__offer {
	margin-right: 35px;
	margin-left: -30px;
	&:after {
		content: "";
		display: block;
		width: 300px;
		height: 170px;
		margin-left: auto;
		margin-right: auto;
		background-image: url("../img/pros/pros-arraow.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.pros__title {
	margin-bottom: 25px;
}
.pros__bullets {
	padding-left: 46px;
}
.pros__bullet {
	font-size: 18px;
	line-height: 150%;
	color: #323c4b;
	position: relative;
	margin-bottom: 18px;
	&::before {
		content: "";
		position: absolute;
		top: 2px;
		left: -46px;
		display: block;
		width: 27px;
		height: 27px;
		background-image: url("../img/common/bullet.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.pros__form {
	margin-bottom: 60px;
}
.pros__img-wrap {
	position: relative;
}
.pros__img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.pros__decor-left {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 600px;
	height: 300px;
	background-image: url("../img/pros/pros-decor-left.png");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}
.pros__decor-right {
	position: absolute;
	right: 0;
	bottom: 200px;
	width: 600px;
	height: 300px;
	background-image: url("../img/pros/pros-decor-right.png");
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

// @cases
.cases {
	padding-top: 100px;
	padding-bottom: 40px;
}
.cases__title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 50px;
}

.cases-accordion {
	border: 1px solid #e0e0e0;
	margin-bottom: 30px;
}
.cases-accordion__top {
	position: relative;
	padding-top: 30px;
	padding-bottom: 33px;
	padding-left: 70px;
	padding-right: 70px;
	border-bottom: 1px solid #e0e0e0;
}
.cases-accordion__toggler {
	background-image: url("../img/common/angle.svg");
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	right: 50px;
}
.cases-accordion__section {
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
	padding-bottom: 33px;
	border-top: 1px solid #e0e0e0;
	&:first-child {
		border-top: none;
	}
}
.cases-accordion__name {
	font-weight: 700;
	font-size: 25px;
	line-height: 100%;
	color: #323c4b;
	margin-bottom: 22px;
}

.cases-accordion__title {
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 20px;
	line-height: 100%;
	color: #323c4b;
}
.cases-accordion__bullets {
	padding-left: 38px;
}
.cases-accordion__bullet {
	font-size: 16px;
	line-height: 150%;
	color: #323c4b;
	position: relative;
	margin-bottom: 18px;
	&::before {
		content: "";
		position: absolute;
		top: -2px;
		left: -38px;
		display: block;
		width: 27px;
		height: 27px;
		background-image: url("../img/common/bullet.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.cases-accordion__text {
	margin-bottom: 20px;
	line-height: 140%;
	font-size: 16px;
}
.cases-accordion__text:last-child {
	margin-bottom: 0;
}

.cases-accordion__bottom {
	display: none;
}
.accordion--opened {
	.cases-accordion__bottom {
		display: block;
	}
	.cases-accordion__toggler {
		transform: rotate(180deg);
	}
}

// @pricing
.pricing {
	padding-top: 160px;
	// padding-bottom: 300px;
	padding-bottom: 150px;
	background-image: url("../img/pricing/pricing-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f9fcff;
}
.pricing__title {
	font-size: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.pricing-slider-slide {
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		rgba(255, 255, 255, 0.6) 49.48%,
		rgba(255, 255, 255, 0.7) 100%
	);
	box-shadow: 0px 14px 34px rgba(214, 214, 214, 0.25);
	backdrop-filter: blur(24px);
	border-radius: 10px;
	border: 1px solid #e7e7e7;
}
.pricing-bundle__head {
	padding-top: 40px;
	padding-left: 25px;
	// padding-right: 25px;
	padding-right: 5px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e7e7e7;
}
.pricing-bundle__title {
	margin-bottom: 7px;
	font-weight: 700;
	font-size: 25px;
	line-height: 100%;
	color: #323c4b;
}
.pricing-bundle__desc {
	font-size: 16px;
	line-height: 120%;
	color: #323c4b;
}
.pricing-bundle__bullets {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 18px;
	padding-left: 60px;
}
.pricing-bundle__bullet {
	font-size: 16px;
	line-height: 150%;
	color: #323c4b;
	position: relative;
	margin-bottom: 18px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -36px;
		display: block;
		width: 20px;
		height: 20px;
		background-image: url("../img/common/bullet.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.pricing-bundle__footer {
	padding-top: 19px;
	border-top: 1px solid #e7e7e7;
	padding-bottom: 40px;
}
.pricing-bundle__price-mark {
	font-size: 18px;
	line-height: 126%;
	text-align: center;
	color: #323c4b;
}
.pricing-bundle__price {
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 25px;
	line-height: 126%;
	text-align: center;
	color: #323c4b;
}
.pricing-bundle__button {
	margin-left: auto;
	margin-right: auto;
	max-width: 280px;
	font-size: 15px;
}
.pricing-slider__buttons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.slider__buttons {
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		margin-right: 22px;
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next,
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		position: static;
		width: 64px;
		height: 64px;
		border: 1px solid #248da0;
		border-radius: 100%;
	}
	.swiper-button-prev::after,
	.swiper-rtl .swiper-button-next::after {
		color: transparent;
		width: 60%;
		height: 100%;
		background-image: url("../img/common/arrow-right.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: scale(-1, 1);
	}
	.swiper-button-next::after,
	.swiper-rtl .swiper-button-prev::after {
		color: transparent;
		width: 60%;
		height: 100%;
		background-image: url("../img/common/arrow-right.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

// @reviews

.reviews {
	padding-top: 40px;
	padding-bottom: 80px;
}
.reviews__container {
	max-width: 100%;
	padding: 0;
}
.reviews__title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 50px;
}
.reviews-slider-slide {
	max-width: 830px;
	width: 100%;
	background: #eff6f8;
	padding-top: 100px;
	// padding-bottom: 42px;
	padding-bottom: 122px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 30px 25px 0;
		border-style: solid;
		border-color: #fff #fff #eff6f8 #eff6f8;
		background: #eff6f8;
		display: block;
		width: 0;
	}
}

.reviews__review-wrap {
	position: relative;
	margin-bottom: 60px;
	padding-left: 70px;
	padding-right: 70px;
	&:before {
		content: "“";
		position: absolute;
		left: 20px;
		top: -90px;
		color: #fff;
		font-size: 176px;
	}
	&:after {
		content: "„";
		position: absolute;
		right: 20px;
		bottom: -50px;
		color: #fff;
		font-size: 176px;
	}
}
.reviews__review {
	font-size: 16px;
	line-height: 140%;
	color: #323c4b;
}
.reviews-slide__profile {
	position: absolute;
	right: 0;
	bottom: 42px;
	margin-left: auto;
	max-width: 400px;
	color: #fff;
	background: #248da0;
	padding-left: 60px;
	padding-top: 18px;
	padding-bottom: 21px;
	padding-right: 93px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		border-width: 30px 30px 0 0;
		border-style: solid;
		border-color: #eff6f8 #248da0 #248da0 #eff6f8;
		background: #248da0;
		display: block;
		width: 0;
	}
}

.reviews-slider__buttons {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-start;
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
}

// @warranty

.warranty {
	padding-top: 170px;
	padding-bottom: 250px;
	background-image: url("../img/warranty/warranty-bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.warranty__container {
	position: relative;
}

.warranty__offer {
	max-width: 495px;
}
.warranty__title {
	font-size: 50px;
	margin-bottom: 40px;
}
.warranty-bullet {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
}
.warranty-bullet__img {
	width: 80px;
	height: 80px;
	object-fit: contain;
	margin-right: 10px;
}
.warranty-bullets__desc {
	font-size: 16px;
	line-height: 160%;
	color: #323c4b;
}
.warranty__img-wrap {
	position: absolute;
	right: 0;
	bottom: -100px;
	max-width: 60%;
	width: 100%;
	display: block;
}

.timer {
	position: relative;
	margin-top: -240px;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
.timer__inner {
	background: #f3f8fa;
	border-radius: 100px;
	padding-top: 50px;
	padding-left: 145px;
	padding-right: 90px;
	padding-bottom: 60px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.timer__title {
	font-family: "TTDrugs";
	font-size: 25px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #323c4b;
	margin-bottom: 20px;
}
.timer__desc {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 150%;
	color: #323c4b;
}

.timer__offer {
	max-width: 430px;
}

.timer-counter__wrap {
	max-width: 506px;
	width: 100%;
	min-height: 370px;
	margin-top: -70px;
	background-image: url("../img/timer/laptop.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-position-x: -20px;
}
.timer-counter__left {
	&::after {
		content: ":";
	}
}
.timer-counter__center {
	&::after {
		content: ":";
	}
}

.timer-counter {
	padding-top: 130px;
	font-size: 43px;
	line-height: 120%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #323c4b;
	text-align: center;
}
.timer-counter__caption {
	text-align: center;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 200px;
		background-image: url("../img/timer/hand.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: -15px;
		margin-bottom: -40px;
	}
}
.timer-cunter__button {
	margin-left: auto;
	margin-right: auto;
}

// @faq

.faq {
	padding-top: 70px;
	padding-bottom: 70px;
}

.faq__title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 50px;
	line-height: 140%;
}
.faq-accordion {
	background: #ffffff;
	box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}

.faq-accordion__top {
	padding-top: 30px;
	padding-left: 37px;
	padding-right: 37px;
	padding-bottom: 27px;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.faq-accordion__bottom {
	padding-top: 24px;
	padding-left: 37px;
	padding-right: 37px;
	padding-bottom: 34px;
	display: none;
}

.faq-accordion__title {
	width: calc(100% - 88px);
	font-size: 18px;
	line-height: 130%;
	align-items: center;
	letter-spacing: 0.05em;
	color: #323c4b;
}

.faq-accordion__toggler {
	background-image: url("../img/common/angle.svg");
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
}
.faq-accordion__desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	color: #323c4b;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.accordion--opened {
	.faq-accordion__toggler {
		transform: rotate(180deg);
	}
	.faq-accordion__bottom {
		display: block;
	}
	.faq-accordion__title {
		font-weight: 800;
		color: #248da0;
	}
}

// @footer

.footer {
	padding-top: 22px;
	padding-bottom: 40px;
	background: linear-gradient(180deg, #323c4b 0%, #323c4b 100%);
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__link {
	display: block;
	font-size: 14px;
	line-height: 100%;
	text-decoration-line: underline;
	color: #ffffff;
}

.footer__legal {
	max-width: 280px;
	width: 100%;
}
.footer__callback {
	margin-bottom: 15px;
	max-width: 270px;
	width: 100%;
}
.footer__legal-info {
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 140%;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
}
.footer-social__link {
	display: block;
	margin-left: 9px;
}
